* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  width: 50px;
  height: 30px;
}

#calc-body{
  display: flex;
  flex-wrap: wrap;
  width: 202px;
  border: solid black 1px;
  border-radius: 10px;
}

#display-screen {
  height: 50px;
}

#top-screen {
  height: 30px;
}

.screen {
  width: 100%;
  text-align: right;
  font-family: monospace;
  margin: 2px;
}
